
    * {
	margin: 0;
	padding: 0;
}

:root {
	--container-width: 600px;
	--container-height: 300px;
}

html,
body {
	height: 100%;
}
body {
	background: repeating-radial-gradient(#11b5a6, #4c469e);
}
.container {
	position: absolute;
	width: var(--container-width);
	height: var(--container-height);
	left: 50%;
	top: 30%;
	transform: translate(-50%, -50%);
	border-radius: 15px;
}

.image-side {
	position: absolute;
	left: 0%;
	/* background: #11b57899; */
	background: repeating-linear-gradient(90deg, #11b57899, darkcyan 5px);
	width: 40%;
	height: 99%;
	border: 1px solid white;
	border-radius: 15px;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

img {
	position: absolute;
	left: 50%;
	top: 25%;
	transform: translate(-50%, -50%);
	width: 100px;
	height: 100px;
	border: 2px solid white;
	border-radius: 50%;
}

.image-side > span {
	position: absolute;
	left: 50%;
	top: 65%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 2em;
	text-align: center;
	text-shadow: -6px 4px 20px #49fb00;
}

.info-side {
	position: absolute;
	left: 40%;
	background: darkcyan;
	width: 58%;
	height: 99%;
	border: 1px solid #11b57899;
	border-radius: 15px;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	display: flex;
	flex-direction: column;
}
.info-side > span {
	position: relative;
	padding: 22px 10px;
	margin: 4px 2px;
	font-size: 1.2em;
	border-radius: 15px;
	border-left: 2px solid white;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	color: white;
	font-weight: bolder;
	background: repeating-linear-gradient(45deg, darkcyan, teal 100px);
	text-align: center;
	text-shadow: -2px 0px 15px #49fb00;
}

.info-side > span:hover {
	border: 2px solid white;
	border-left: none;
	margin-left: 10px;
	filter: hue-rotate(15deg);
}
